// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0f2b4d;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #74dd1e;
$gray: #8f8f8f;
$light-gray: #F4F4F4;
$teal: #325f52;
$gold: #dbc666
