<div class="banner-mixo shadow-sm">
    <div class="text-banner">
        <h1>Mr. Qocktail</h1>
        <p>-------</p>
        <p>What's your story today</p>    
    </div>

</div>

<% @cocktails.each do |cocktail| %>
    <div class="container bg-dark mt-4 shadow-sm card-block" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path cocktail.picture.key, height: 200, crop: :fill %>')">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 280px;">
                    <div class="card-body">
                        <h5 class="card-title text-dark"><%= cocktail.name %></h5>
                        <p></p>
                        <%= link_to "Details", cocktail_path(cocktail), class: "btn btn-link btn-teal" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
